In [1]:
#pip install torchtext==0.12.0
import pandas as pd
import numpy as np

In [2]:
dataframe = pd.read_excel("IMDB_SCRAPING.xlsx")
dataframe.head()

,Titre,Username,Rate,Review,Content
0,The Invisible Man,ccthemovieman-1,\n\n\n\n\n\n6/10\n,"Film Still Holds Up, Is Fun Except For Shriek...","This was great the first time I watched it, bu..."
1,The Invisible Man,The_Void,\n\n\n\n\n\n9/10\n,Visibly stunning!!!\n,"James Whale is, for good reason, most famous f..."
2,The Invisible Man,TimViper1,\n\n\n\n\n\n10/10\n,Tremendous!\n,This is definitely one of the best horror/sci-...
3,The Invisible Man,perfectbond,\n\n\n\n\n\n8/10\n,Classic horror\n,I actually saw The Invisible Man (1933) shortl...
4,The Invisible Man,theowinthrop,\n\n\n\n\n\n10/10\n,To make the world grovel at his feet.\n,Spoiler ahead - a well known one though.It was...

In [3]:
# It seems like it s not that clean at all, we need to check its shape
dataframe.shape

(22342, 5)

In [4]:
# After the shape we need to check for null
dataframe.isnull().sum()

Titre        0
Username    10
Rate         0
Review       0
Content      0
dtype: int64

In [5]:
dataframe.loc[dataframe["Username"].isnull()]

,Titre,Username,Rate,Review,Content
903,The Station Agent,NaN,\n\n\n\n\n\n8/10\n,Size matters\n,"""The Station Agent"" is a slice-of-dwarf-life c..."
3406,Donnie Brasco,NaN,\n\n\n\n\n\n7/10\n,"Not bad, not great.\n","""Donnie Brasco"" tells of an FBI agent (Depp) w..."
3746,The Count of Monte Cristo,NaN,\n\n\n\n\n\n8/10\n,The Count rides again.\n,"""The Count of Monte Cristo"" (2002), a contempo..."
7174,Remember the Titans,NaN,\n\n\n\n\n\n7/10\n,"Predictable but solid ""feel good"" football en...","""Remember the Titans"" tells about a black foot..."
7207,Gongdong gyeongbi guyeok JSA,NaN,\n\n\n\n\n\n6/10\n,A movie with a latitude\n,"""Joint Security Area"" takes place entirely at ..."
10310,Once Were Warriors,NaN,\n\n\n\n\n\n8/10\n,A great film\n,"""Once Were Warriors"" tells of one woman's stru..."
10543,Almost Famous,NaN,\n\n\n\n\n\n7/10\n,"An enjoyable blend of humor, drama-lite, and ...","""Almost Famous"" tells of a 15 year old prodigy..."
10604,Nueve reinas,NaN,\n\n\n\n\n\n6/10\n,"Here a scam, there a scam, everywhere a scam-...","Scamming is the name of the game in ""Nine Quee..."
10657,No Man's Land,NaN,\n\n\n\n\n\n6/10\n,Good journeyman war satire slightly over-tout...,"""No Man's Land"" is a satirical representation ..."
13337,La leggenda del pianista sull'oceano,NaN,\n\n\n\n\n\n8/10\n,A wonderfully wistful mixture of melodrama an...,"""The Legend of 1900"" wistfully tells its creat..."

In [6]:
df = dataframe.dropna(axis=0,how='any')
df.head()

,Titre,Username,Rate,Review,Content
0,The Invisible Man,ccthemovieman-1,\n\n\n\n\n\n6/10\n,"Film Still Holds Up, Is Fun Except For Shriek...","This was great the first time I watched it, bu..."
1,The Invisible Man,The_Void,\n\n\n\n\n\n9/10\n,Visibly stunning!!!\n,"James Whale is, for good reason, most famous f..."
2,The Invisible Man,TimViper1,\n\n\n\n\n\n10/10\n,Tremendous!\n,This is definitely one of the best horror/sci-...
3,The Invisible Man,perfectbond,\n\n\n\n\n\n8/10\n,Classic horror\n,I actually saw The Invisible Man (1933) shortl...
4,The Invisible Man,theowinthrop,\n\n\n\n\n\n10/10\n,To make the world grovel at his feet.\n,Spoiler ahead - a well known one though.It was...

In [7]:
df.isnull().sum()

Titre       0
Username    0
Rate        0
Review      0
Content     0
dtype: int64

In [8]:
df.dtypes

Titre       object
Username    object
Rate        object
Review      object
Content     object
dtype: object

In [9]:
df['Review'] = df['Review'].str.replace('\n', '')
df['Rate'] = df['Rate'].str.replace('\n', '')
df['Rate'] = df['Rate'].str.replace('/10', '')
df['Rate'] = df['Rate'].astype(int)




#convert the letter into lowercase and remove punctuations
df['Content'] = df['Content'].str.replace(r'[^\w\s]+', '')
df['Review'] = df['Review'].str.replace(r'[^\w\s]+', '')

<ipython-input-9-258f0a9340f9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Review'] = df['Review'].str.replace('\n', '')
<ipython-input-9-258f0a9340f9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Rate'] = df['Rate'].str.replace('\n', '')
<ipython-input-9-258f0a9340f9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Rate'] = df['Rate'].str.replace('/10', '')
<ipython-input-9-258f0a9340f9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Rate'] = df['Rate'].astype(int)
<ipython-input-9-258f0a9340f9>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Content'] = df['Content'].str.replace(r'[^\w\s]+', '')
<ipython-input-9-258f0a9340f9>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Review'] = df['Review'].str.replace(r'[^\w\s]+', '')

In [10]:
df['Review'] = df['Review'].str.lower()
df['Content'] = df['Content'].str.lower()

<ipython-input-10-94c96a0958a6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Review'] = df['Review'].str.lower()
<ipython-input-10-94c96a0958a6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Content'] = df['Content'].str.lower()

In [11]:
df.dtypes

Titre       object
Username    object
Rate         int32
Review      object
Content     object
dtype: object

In [12]:
df.head()

,Titre,Username,Rate,Review,Content
0,The Invisible Man,ccthemovieman-1,6,film still holds up is fun except for shrieker,this was great the first time i watched it but...
1,The Invisible Man,The_Void,9,visibly stunning,james whale is for good reason most famous for...
2,The Invisible Man,TimViper1,10,tremendous,this is definitely one of the best horrorscifi...
3,The Invisible Man,perfectbond,8,classic horror,i actually saw the invisible man 1933 shortly ...
4,The Invisible Man,theowinthrop,10,to make the world grovel at his feet,spoiler ahead a well known one thoughit was h...

In [13]:
df["Rate"].value_counts()

10    6428
1     4902
9     2784
8     1887
5     1204
3     1139
2     1113
4     1090
6      971
7      814
Name: Rate, dtype: int64

In [14]:
df["Sentiment"]= np.where(df["Rate"]>6, "positive","negative")

<ipython-input-14-f71ede2f862e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Sentiment"]= np.where(df["Rate"]>6, "positive","negative")

In [15]:
df

,Titre,Username,Rate,Review,Content,Sentiment
0,The Invisible Man,ccthemovieman-1,6,film still holds up is fun except for shrieker,this was great the first time i watched it but...,negative
1,The Invisible Man,The_Void,9,visibly stunning,james whale is for good reason most famous for...,positive
2,The Invisible Man,TimViper1,10,tremendous,this is definitely one of the best horrorscifi...,positive
3,The Invisible Man,perfectbond,8,classic horror,i actually saw the invisible man 1933 shortly ...,positive
4,The Invisible Man,theowinthrop,10,to make the world grovel at his feet,spoiler ahead a well known one thoughit was h...,positive
...,...,...,...,...,...,...
22337,The Shawshank Redemption,sicurrie,1,am i missing something,the basic story for this dreadful movie is and...,negative
22338,The Shawshank Redemption,Hollywd-2,1,not the greatest movie of all time,shawshank is nothing more than a fairy tale i...,negative
22339,The Shawshank Redemption,RichBuck,1,most overrated film of all time,sorry folks but this movie is a c movie and no...,negative
22340,The Shawshank Redemption,Discern,1,after a big buildup a real disappointment,after reading all the rave reviews for this mo...,negative
22341,The Shawshank Redemption,lukemccaine,1,the plain simple truth it doesnt deserve to ...,just read the title tough i think its a pretty...,negative

In [16]:
df["Sentiment"].value_counts()

positive    11913
negative    10419
Name: Sentiment, dtype: int64